.addpost-container {
    &__textarea {
        width: 100%;
        resize: none;
        border: none;
        padding: 3px;
        font-size: 20px;

        &:focus {
            border: none;
            outline: none !important;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar {
            width: 8px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #555;
        }

    }

    &__btn {
        width: 76px;
        padding: 3px;
        border-radius: 20px;
        margin-right: 10px;
        margin-bottom: 4px;
        height: 34px;
        display: flex;
        margin-left: auto;
        justify-content: center;
        min-height: 32px;
        align-items: center;
    }

    &__img {
        width: 48px;
        height: 100%;
        border-radius: 50%;
        border: 1px solid rgb(216, 216, 216);
        object-fit: cover;
    }
}
.addpost{
    display: flex;
    &__leftPart {
        width: 48px;
        height: 48px;
        margin-left:8px;
    }
    &__rightPart {
        padding-left:10px;
        padding-top: 9px;
        width: 100%;
    }
}