@mixin post-font {
    margin: 0;
    font-size: 17px;

}

.post {
    &__user-name {
        @include post-font;
        font-weight: 600;
    }

    &__user {
        @include post-font;
        display: flex;
        align-items: center;
    }
    &__dot{
        background-color: transparent;
    }

    &__post-time {
        @include post-font;
        color: gray;
        font-size: 15px;
    }

    &__content {
        font-size: 14px;
    }
    
    &__expend-text{
        margin-left: 3px;
        font-size: 31px;
        line-height: 0;
        cursor: pointer;
    }

    &__dropdown {
        margin-left: auto;
        background-color: white;
        color: rgba(0, 0, 0, 0.63);
        border-style: none;
    }



    &__buttons {
        height: 18.75px;
        width: 18.75px;
        border: none;
        padding: 0;
        background-color: rgba(255, 255, 255, 0);

        img {
            width: 100%;
        }

        &__like-count {
            margin: 0 5px 0 5px;
            font-size: 13px;
            line-height: 26px;
            color: gray;
        }

        &__comment {
            margin-left: 20px;

            &__user-comments {
                padding: 5px;
            }
        }
    }
}
.post-container{
    display: flex;
    &__left-container{
        width: 48px;
        margin-left:8px;
    }
    &__right-container{
        padding-left:10px;
        width: 100%;
    }
}