.login {
    &__link {
        text-decoration: none;
    }
    &__loginButton{
        min-width: 100px;
    }
    &__password-eye{
        background-color: white;
        border-left: none;
    }
}